
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
/*@import "variables";*/

// Bootstrap
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

/**
 * TABS
 */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

/**
 * STICKY FOOTER
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #27303e;
  color: #a1a6c0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #393E46;
  color: #a1a6c0;
}

/**
 * GENERAL
 */
#tabs .method {
	background: #00ADB5;
	color: white;
}
#tabs .endpoint {
	background: #EEEEEE;
}
