
// Fonts
@import url('https://fonts.googleapis.com/css?family=Chewy|Jaldi');

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 10px;
  margin-bottom: 60px;
  background-color: #27303e;
  color: black;
  font-family: 'Jaldi';
  font-size: 16px;
}
.footer {
  position: absolute;
  padding-top: 5px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #393E46;
  color: #a1a6c0;
}

#app .jumbotron {
  background-color: #393E46;
}

.devicon {
  font-size: 7em;
  margin-bottom: 10px;
}

.jumbotron h1 {
  font-family: 'Chewy', cursive;
  color: #00ADB5;
  font-size: 4.5em;
}

.jumbotron {
  color: white;
  font-family: 'Jaldi', bold;
}

.btn.btn-success {
  background-color: #00ADB5;
  border-color: #00ADB5;
}